.wrapper{
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    a{   
        color: #fff;
        display: inline-block;
        text-decoration: none;
        background-color: #382538;
        padding: 10px;
        border-radius: 3px;
        text-transform: uppercase;
    }
}
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77,77,77,0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}
.modalcontent{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    background: #fff;
    width: 500px;
    max-width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0px 20px 20px 7px #382538;
    h1{
        text-align: center;
        font-size: 25px;
        margin: 15px;
    }
    p{
        text-align:justify;
        font-size: 18px;
    }
}
a{
    
    font-size: 25px;
    font-weight: 600;
}
.modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
}